<section>
    <div class="content-wrapper">
        <div class="content">
            <div class="box">
                <div class="textbox">
                    <div class="text">
                        <p class="tagline"> {{deals?.title}} </p>
                     <p class="input">  <span class="offer"> Exclusive Discounts </span> </p>
                     <p class="info"> {{deals?.description}} </p> 
               <div class="button">
                <button class="btn" > Explore Now</button>
                    </div>
                    <div class="image">
                        <img class="plant" [src]="deals.image" >
                    </div>
                    
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</section>