<section>
    <div class="shop">
        <div class="text" style="margin-bottom: 5px;">
            Shop By Category
        </div>
        <div class="tagline">
        Bring Home Living Beauty. Grown with Care, Delivered with Love.
        </div>
        <div class="pics">
            <div *ngFor=" let i of shopbycategory " [routerLink]="[i.link]">
                <div class="img"> 
                    <img class="plant-image" [src]="i.url"> </div>
                <div class="plant">
                    <p style="margin-top: 15px;"> {{i.name}} </p>
                    
                </div>

            </div>
        </div>
    </div>
</section>