<section>
    <div class="about">
        <div class="left">
            <h2 class="title"> About Us</h2> <br>
            <div class="left-info">
                <div class="left-in">
                    <h1 class="heading">
                        Every seed holds a story. <br>
                        Our begins with a <span class="head"> Promise. </span>
                    </h1> <br>
                    <p class="para1"> Our Company was born from a simple idea:<span class="para"> Empower every farmer
                            and plant
                            lover in India </span>with a technology, access and trust. From balcony gardens to
                        full-fledged
                        farmlands - <span class="para">we support every steps of the journey.</span></p>
                </div>
                <div class="left-down">
                    <h2 class="head2">
                        Why we exist?
                    </h2> <br>
                    <p class="para2"> We grow with you - seed to sale
                        <span class="info1"> We’re more than a market place. We’re a complete agricultural ecosystem -
                            offering</span> verified seeds, plants, fertilizers, tools, and expert recommendations. <br>

                        <span class="info1"> When you buy something from Nation Crop, we’re already thinking two
                            steps ahead. </span> <br><br>
                        <span class="info2"> Need a seed? We suggest the right fertilizer. <br>
                            Bought a plant? We recommend the best care tools. </span>
                    </p>

                   <br>
                    <p class="para3"> Know more..</p>
                </div>
            </div>

        </div>
        <div class="right">
            <img class="gardener" src=" /assets/pics/gardener.png">
            <div class="right-down">
                <p class="para-right">
                    Grow Confidently with guidance at every step
                </p>
            </div>
        </div>
    </div>
</section>