<section>
    <div class="company">
        <p class="para1">
            <span class="companyname"> GreenCart </span> <br><br>

            New to gardening? Start strong with these low-maintenance plants that thrive in Indian homes...
        </p>

        <div class="icons">
            <div class="icon-btn" *ngFor="let i of icons ">
                <img class="img" src="{{i.img}}">
            </div>
        </div>
    </div>


    <div class="box2">
        <p class="text1"> Company</p>
        <div class="innerbox1">
            <p class="aboutus" routerLink="/aboutus"> About Us</p>
            <p class="aboutus2" routerLink="/blogpage"> Blog</p>
            <p class="aboutus">Contact Us</p>
        </div>
    </div>

    <div class="box3">
        <p class="text2">Customer Service </p>
        <div class="innerbox2">
            <p class="account"> My Account</p>
            <p class="account3" routerLink="/myorders">Track the Order</p>
            <p class="account2"> Return</p>
            <p class="account2"> FAQ</p>

        </div>
    </div>

    <div class="box4">
        <p class="text3"> Our Information</p>
        <div class="innerbox3">
            <p class="privacy"> Privacy</p>
            <p class="privacy2"> User Terms & Condition</p>
            <p class="privacy"> Return Policy</p>
        </div>

    </div>

    <div class="box5">
        <p class="text3"> Contact Info</p>
        <div class="innerbox4">
            <div class="number">
                <img class="call" src="/assets/pics/call.png">
                <p class="phone"> +91 4561237809</p>
            </div>

            <div class="email">
                <img class="call" src="/assets/pics/mail.png">
                <p class="phone"> sankalp&#64;gmail.com</p>
            </div>

            <div class="number">
                <img class="call" src="/assets/pics/location.png">
                <p class="phone"> Sai Dham, Laxmi Nagar, Dhanori,
                    Pune, 411014</p>
            </div>
        </div>
    </div>

</section>