section{
    width: 1013px;
    height: 658px;
    gap: 28px;
    padding: 20px;
    margin-left: 264px;
    background: #ffff;

}

.banner-box{
    width: 100%;
height: 640px;
gap: 16px;
 
}

.header1{
    width: 310px;
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.circle{
    width: 36px;
    height: 35px;
background: #FFFFFF;

gap: 5px;
border-radius: 29px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
 border: none;
 box-shadow: 0px 1px 4px 0px #00000040;
 cursor: pointer;

}

.arrow{
    width: 8px;
    height: 14px;
    border-width: 1px;

}

.para1{
    font-family: Inter;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:#828282;
 

}

.banner-info{
    width: 100%;
height: 488px;
gap: 24px;
border-radius: 16px;
padding-right: 20px;
padding-left: 20px;

}

.header2{
    width: 100%;
height: 24px;
gap: 8px;
 
margin-top: 15px;
}

.header3{
    font-family: Inter;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: -2%;
color:#002D3E;
width: 141px;
height: 24px;

}

.details-box{
    width: 100%;
height: 440px;
justify-content: space-between;
display: flex;
}

.left{
    width: 48%;
height: 440px;
gap: 24px;
 
}

.box1{
    width: 100%;
    height: 65px;
    gap: 8px;
    margin-top: 12px;

}

.id{
    font-family: Inter;
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:#002D3E;

}

#product-title{
    width: 100%;
height: 42px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
margin-top: 4px;
}




.box2{
    width: 100%;
height: 63px;
justify-content: space-between;
display: flex;
margin-top: 22px;
}

.innerbox1{
    width: 219px;
height: 63;
gap: 8px;

}

#price{
    width: 100%;
height: 40;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #828282;
}

.innerbox2{
    width: 220px;
height: 63;
gap: 8px;
}

#sale-price{
    width: 100%;
height: 40;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:#828282;
}


.box3{
    width: 100%;
    height: 63px;
    justify-content: space-between;
    display: flex;
    margin-top: 27px;
}

.innerbox3{
    width: 219px;
    height: 63;
    gap: 8px;
}

.innerbox4{
    width: 220px;
    height: 63;
    gap: 8px;
}

#device{
    width: 100%;
height: 42px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #828282;
}


#location{
    width: 100%;
height: 42px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

color:#828282;
}


.box4{
    width: 100%;
    height: 63px;
    justify-content: space-between;
    display: flex;
    margin-top: 27px;
}

.innerbox5{
    width: 219px;
    height: 63;
    gap: 8px;
}

.innerbox6{
    width: 220px;
    height: 63;
    gap: 8px;
}


#target{
    width: 100%;
height: 40px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #828282;

}

#status{
    width: 100%;
height: 40px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:#828282;

}


.box5{
    width: 100%;
height: 88px;
gap: 8px;
margin-top: 26px;
}

#description{
    width: 100%;
height: 65px;
gap: 10px;
border-radius: 8px;
border-width: 1px;
padding: 11px;
border: 1px solid #E2E5E4;
font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:#828282;
}


.right{
    width: 48%;
height: 440px;
gap: 24px;

  
}

.right-box{
    width: 100%;
height: 390px;
gap: 24px;

}

.image{
    width: 100%;
height: 185px;
gap: 8px;

}

.banner-image{
    font-family: Inter;
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #002D3E;
margin-left: 3px;
margin-top: 18px;
}

.deals-img{
    width: 100%;
height: 162px;
justify-content: space-between;

}


.dragbox{
    width: 100%;
    height: 133px;
    gap: 10px;
    border-radius: 16px;
    border-width: 1px;
    padding: 5px;
    border: 1px solid #D0D0D1;
    align-content: center;
    margin-top: -186px;

}

#target-drag{
    width: 148px;
    height: 31px;
    /* background-color: #002D3E; */
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-left: 165px;

}

.browse{
    font-family: Inter;
font-weight: 500;
font-size: 12px;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #4060EC;
cursor: pointer;
}

.tagline{
    font-family: Inter;
font-weight: 400;
font-size: 10px;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}

.save{
    width: 139px;
    height: 46px;
    border-radius: 24px;
    padding-right: 24px;
    padding-left: 24px;
    background: var(--Blue-Color, #002D3E);
    border: none;
    cursor: pointer;
    margin-top: 55px;
    margin-left: 421px;
}

.save-btn{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    width: 101px;
    height: 24px;
    margin-left: -2px;
}



.delete {
    width: 29px;
    height: 26px;
    gap: 10px;
    border-radius: 24px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px 0px #00000040;
    position: absolute;
    /* top: 5px; */
    cursor: pointer;
    padding: 0;
    /* margin-left: 121px; */
    margin-left: -34px;
    margin-top: 4px;
}

.bin {
    width: 14px;
height: 16px;
}