/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}
 
/* p{ 
    padding: 0%!important;
    margin: 0%!important;
}*/

::-webkit-scrollbar {
    display: none;
}